**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/.gitignore
**/*.md
**/*.sln
**/docker-compose*.yml
**/Dockerfile*
**/.env*
**/uploading
**/backup
**/*.user
**/*.suo
**/TestResult*/
**/BenchmarkDotNet.Artifacts/
**/artifacts/
**/*.cache
